<p id="notice"><%= notice %></p>

<h1>Listing Poems</h1>

<% @poems.each do |poem| %>
  <h3><%= poem.title %></h3>
  <pre><p><%= poem.content %></p></pre>
  <p>By: <%= "#{poem.user.firstname} #{poem.user.lastname}" %></p>
<% end %>
<br>

<%= link_to 'New Poem', new_poem_path %>
