<p id="notice"><%= notice %></p>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center text-lighten-2">Poetry for Programmers, by Programmers</h1>
      <div class="row center">
        <h5 class="header col s12 light">Modern, elegant, responsive poetry.</h5>
      </div>
      <div class="row center">
        <a href="<%= new_poem_path %>" id="download-button" class="btn-large waves-effect waves-light lighten-1">Add a Poem</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax">
    <%= image_tag 'book.jpg', alt:"Unsplashed background img 1" %>
  </div>
</div>

<div class="page-container">
  <h1 class="page-heading">All Poems</h1>

  <%= render @poems %>

  <br>

  <%= link_to 'New Poem', new_poem_path %>
</div>
