<div id="login-form">
  <h1>Log In</h1>
  <%= form_tag session_path, id: "login" do %>
    <div>
      <%= label_tag :email %><br>
      <%= text_field_tag :email %>
    </div>
    <div>
      <%= label_tag :password %><br/>
      <%= password_field_tag :password %>
    </div>
    <div class="center-button"><a class="waves-effect waves-light btn"><%= submit_tag "Log In" %></a></div>
  <% end %>
</div>