<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>

<h3>Session user: <%= session[:user_id] %></h3>
<h3>Admin user: <%= session[:admin_id] %></h3>

<hr>

<%= form_tag movies_path, :method => 'get' do %>
  <p class="search-field">
    <%= label_tag 'title' %>
    <%= text_field_tag :search_title, params[:search_title] %>
  </p>
  <p class="search-field">
    <%= label_tag 'director' %>
    <%= text_field_tag :search_dir, params[:search_dir] %>
  </p>
  <%= select_tag(:search_runtime, options_for_select([["Select Runtime", 0],["Under 90 Minutes", 1], ["Between 90 and 120 Minutes", 2], ["Over 120 minutes", 3]])) %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= paginate @movies %>

<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
  <%= image_tag movie.image.thumb %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= movie.release_date %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>