<footer class="page-footer">
  <div class="container">
    <% if current_user %>
      <p>
        Signed in as <%= User.find(current_user).email %>
        <% if impersonating? %>
          but actually <%= User.find(session[:admin_id]).email %>
        </p>
        <p>
          Switch back to admin account:
          <%= form_tag '/admin/users/revert', :method => 'post' do %>
          <%= submit_tag "Revert", :name => nil %>
          <% end %>
        <% end %>
      </p>
    <% end %>
    <% if current_user && (current_user.admin || impersonating?) %>
      <p>
        <%= link_to "Admin Center", admin_users_path %>
      </p>
    <% end %>
  </div>
</footer>
 