<!DOCTYPE html>
<html>
<head>
  <title>Leaves of Hack</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <code><a href="#" class="brand-logo">Leaves of Hack</a></code>
        <%= form_tag poems_path, :method => 'get' do %>
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        <% end %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "My Poems", my_poems_path %></li>
          <li><%= link_to "My Reviews", my_reviews_path %></li>
          <li><%= link_to "Add Poem", new_poem_path %></li>
        </ul>
      </div>
    </nav>
  </header>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>

<%= yield %>
<%= render 'layouts/footer' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
