<!DOCTYPE html>
<html>
<head>
  <title>Leaves of Hack</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo"><code>Leaves of Hack</code></a>
        <%= form_tag poems_path, :method => 'get', class: 'center' do %>
          <div class="input-field">
            <%= label_tag "search", raw("<i class='material-icons'>search</i>") %>
            <%= search_field_tag :search, params[:search], placeholder: "Search by keyword" %>
          </div>
        <% end %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
           <% if current_user %>
            <li><%= link_to "My Poems", my_poems_path %></li>
            <li><%= link_to "My Reviews", my_reviews_path %></li>
            <li><%= link_to "Add Poem", new_poem_path %></li>
            <li><%= link_to "Log Out", session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log In", new_session_path %> </li>
            <li><%= link_to "Sign Up", new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

<%= yield %>
<%= render 'layouts/footer' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
